body {
  background-image: url("media/sun.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h1 {
  font-family: "pf-reminder", sans-serif;
  color: #000000;
  font-size: 3rem;
  text-align: center;
  margin-top: 5rem;
  margin-left: 20rem;
  margin-right: 20rem;
  font-weight: 700;
}

h2 {
  font-family: "pf-reminder", sans-serif;
  color: #000000;
  font-size: 2rem;
  text-align: center;
  margin-top: 5rem;
  margin-left: 10rem;
  margin-right: 10rem;
  font-weight: 700;
}
