.ad {
  width: 300px;
  height: 600px;
  display: block;
  margin: auto;
  background-image: url("https://akm-img-a-in.tosshub.com/indiatoday/images/story/202012/Netflix-New-Feature-Audio-Only_1200x768.jpeg?size=1200:675");
}

h1 {
  font-family: "dolly-new", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #0000a4;
  font-size: 2rem;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

#netflixh1 {
  font-family: "indivisible", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #a40000;
  font-size: 2rem;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
}

h2 {
  font-family: "graphik", arial, helvetica, sans-serif;
  color: white;
  font-size: 1.3rem;
  text-align: center;
  margin-top: 2rem;
  font-weight: 700;
  margin-left: 1rem;
  margin-right: 1rem;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  margin-top: 2rem;
}

h3 {
  font-family: "produkt", arial, helvetica, sans-serif;
  color: white;
  font-size: 1.3rem;
  text-align: center;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-weight: 700;
}

#rain,
#sun,
#cold {
  display: none;
}

#ad-container {
  display: flex;
}
